.nav {
  top: 0px;
}

.content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin-top: .5em;
  display: block;
}

#nav-menu {
  background-color: #fff;
}