<md-toolbar color="primary" class="nav">

  <div class="container">
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button md-button routerLink="/home">HOME</button>
    <button md-button routerLink="/about">ABOUT</button>
    <button md-button routerLink="/profile">PROFILE</button>
    <button md-button routerLink="/login">LOGIN</button>
  </div>
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <md-icon>menu</md-icon>
  </button>
</div>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-button routerLink="/home">HOME</button>
  <button md-button routerLink="/about">ABOUT</button>
  <button md-button routerLink="/profile">PROFILE</button>
  <button md-button routerLink="/login">LOGIN</button>
    <!--<button md-menu-item>Help</button>-->
</md-menu>



